@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Background Images */
  --bg-hero: url('/images/background-image-hero.png');
  --bg-hero-tab: url('/images/background-image-section.png');
  --bg-hero-section: url('/images/background-class.png');
  --bg-contact-section: url('/images/background-contact.png');
  --bg-button: linear-gradient(
    91.9deg,
    #dd0ced -5.47%,
    #890d8b 24.94%,
    #701c8f 63.75%,
    #403b98 96.79%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Background utilities */
.bg-hero {
  background-image: var(--bg-hero);
  background-size: cover;
  background-position: center;
}

.bg-hero-tab {
  background-image: var(--bg-hero-tab);
  background-size: cover;
  background-position: center;
}

.bg-button {
  background-image: var(--bg-button);
}
